$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

//*************************
// Login Section
//*************************
#loginContent {
	text-align: center;
}

#loginInput {
	padding-top: 10px;
}

#emailInput {}

#passwordInput{
	padding-top: 5px;
}

#loginButtons {
	padding-top: 10px;
}

#loginButton {
	color:  $primary-color;
}

#signupButton{
	color:  $primary-color;
}

//*************************
// Common Section
//*************************

#commonContent{

}

#logOutButton{

}



/**********************************
MEDIA QUERIES
**********************************/

@media (min-width: 800px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1060px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1320px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}