<html>
    <head>
    </head>

        
    <body>
    <h2>OPEN LIBRARY TEST</h2>
       <div ng-app="LibraryApp" ng-controller="testCtrl">
            
            <div>
                <input type="text" ng-model="isbn">
                <button ng-click="searchIsbn()">Search Isbn</button>
            </div>

            <div>
                <input type="text" ng-model="author">
                <button ng-click="searchAuthor()">Search Author</button>
            </div>

            <div>
                <input type="text" ng-model="language">
                <button ng-click="searchLanguage()">Search Language</button>
            </div>

            <div>
                <input type="text" ng-model="title">
                <button ng-click="searchTitle()">Search Title</button>
            </div>

            <div>
                <input type="text" ng-model="publish_year">
                <button ng-click="searchYear()">Search Year</button>
            </div>

            <p>  
                <li ng-repeat="doc in docs">
                    <div class="thisBook">    
                        <p>{{ doc.author_name }}</p>
                        <p>{{ doc.title }}</p>
                        <p>{{ doc.language }}</p>
                        <p>{{ doc.publish_year }}</p>
                        <p>{{ doc.subject }}</p>    
                        <button ng-click="addBook(doc)">Add this Book to your Library</button>
                        <button ng-click="removeBook(doc)">Remove this Book from Library</button>
                    </div>    
                </li>
            </p>

        </div>
    </body>

        <script src="lib/bower_components/jquery/dist/jquery.js"></script>
        <script src="lib/bower_components/angular/angular.js"></script>
        <script src="lib/bower_components/angular-route/angular-route.js"></script>
        <script src="lib/bower_components/firebase/firebase.js"></script>
        <script src="lib/bower_components/angularfire/dist/angularfire.js"></script>


    <!-- <script src="https://openlibrary.org/api/books?bibkeys=ISBN:0596156715&callback=mycallback"></script> -->

        <script src="something.js"></script>
        <script src="openlibrary.js"></script> 

</html>

