<div> Additions </div>
<div class="additionsBox">
<div>	
	<button class="btn-default" ng-click="toOpenLibrary()">Search the Open Library</button>
    <button class="btn-default" ng-click="toMyLibrary()">Personal Library</button>
</div>

<div>
    <div>Author</div>
    <input type="text" ng-model="author">
</div>

<div>
    <div>Title</div>
    <input type="text" ng-model="title">
</div>

<!-- <div>
    <div>ISBN</div>
    <input type="text" ng-model="isbn">
</div>

<div>
    <div>Year</div>
    <input type="text" ng-model="year">
</div> -->

<div>
    <div>Comments</div>
    <input type="text" ng-model="comments">
</div>

<div>
    <div>Location</div>
    <input type="text" ng-model="loc">
</div>
</div>
<hr>
<div id="inputCard" class="inputCardBox">
	<div ng-model="author">Author: {{author}}</div>
	<div ng-model="title">Title: {{title}}</div>
<!-- 	<div ng-model="isbn">ISBN: {{isbn}}</div>
	<div ng-model="year">Year: {{year}}</div> -->
    <div ng-model="comments">Comments: {{comments}}</div>
	<div ng-model="loc">Location: {{loc}}</div>
		
	<button class="btn-default" ng-click="addManual()"> Add this Book to your Library</button>
</div>

<div>
    	<button class="btn-default additionsButton" ng-model="parsedEntries" ng-click="importJSON(parsedEntries)">Import from Spreadsheet</button>
</div>



