
 <div id="commonContent">
		<div>
			    <button class="btn btn-primary" type="button" ng-click="logOut()">Log Out</button>

		</div>
		<div class="showTitle">
			<div ng-repeat="show in allShows">
				<div ng-repeat="thing in show.img">
					<div>
						<img ng-src="{{ thing }}">
						<button class="btn" ng-click="viewShow()">View</button>
						<button class="btn" ng-click="editShow()">Edit</button>
						<hr>
					</div>	
<!-- 					<div>
						<img ng-src="{{ thing }}">
						<button class="btn" ng-click="viewShow()">View</button>
						<button class="btn" ng-click="editShow()">Edit</button>
						<hr>
					</div>
					<div>	
						<img ng-src="{{ thing }}">
						<button class="btn" ng-click="viewShow()">View</button>
						<button class="btn" ng-click="editShow()">Edit</button>
						<hr>
					</div>
					<div>	
						<img ng-src="{{ thing }}">
						<button class="btn" ng-click="viewShow()">View</button>
						<button class="btn" ng-click="editShow()">Edit</button>
						<hr>
					</div>
					<div>	
						<img ng-src="{{ thing }}">
						<button class="btn" ng-click="viewShow()">View</button>
						<button class="btn" ng-click="editShow()">Edit</button>
						<hr>
					</div>	 -->
				</div>
			</div>
		</div>

		<div>
		Common Page!
		</div>

		<div>
			    <button class="btn btn-primary" type="button" ng-click="createShow()">Create</button>
		</div>

<!-- 		<div>
			    <button class="btn btn-primary" type="button" ng-click="doMe()">Do me!</button>
		</div>
 -->
		<label>
			<div class="labels">
				Add a show
			</div>
			
			<div>
				<p>Title</p>
				<input type="text" ng-model="show.title">
			</div>
			
			<div>
				<p>imgURL</p>
				<input type="text" ng-model="show.imgUrl">
			</div>
		</label>
</div> <!--Common content end-->

