
 <div id="commonContent">
		<div>
		Common Page!
		</div>
		<div>
			    <button class="btn btn-primary" type="button" ng-click="logOut()" id="logOutButton">Log Out</button>

		</div>
		<div class="showTitle">
			<div ng-repeat="show in allShows">
				<p>{{show.title}}</p>
				<div ng-repeat="thing in show">
					<div ng-repeat="items in thing">
						<div>
							<img ng-src="{{ items }}">
						</div>
					</div>	
				</div>
				<button class="btn" ng-click="viewShow(show)">View</button>
				<button class="btn" ng-click="viewEdit(show)">Edit</button>
				<hr>
			</div>
		</div>


		<div>
			    <button class="btn btn-primary" type="button" ng-click="createShow(show)">Create</button>
		</div>

<!-- 		<div>
			    <button class="btn btn-primary" type="button" ng-click="doMe()">Do me!</button>
		</div>
 -->
		<label>
			<div class="labels">
				Add a show
			</div>
		</label>
			
			<div>
				<p>Title</p>
				<input type="text" ng-model="show.title">
			</div>
			
			<div>
				<p>imgURL</p>
				<input type="text" ng-model="show.imgUrl">
			</div>
			
</div> <!--Common content end-->

