 <div id="commonContent">

			<div ng-repeat="show in allShows">

				<div class="showImg">
					<img src="{{show.img}}">
				</div>

				<div class="comments">
					<p>{{show.comments}}</p>
				</div>

				<div class="numberOfReflections">
					<p>{{show.reflections}}</p>
				</div>
				<button class="btn">View</button>
				<button class="btn">Edit</button>
				<hr>
			</div>
			<div>
				I AM THE COMMON PAGE! LOOK UPON MY WORK, YE MIGHTY AND DESPAIR!!!!
	  		<!-- Log Out -->
	  		<button class="btn btn-danger" id="logout" ng-click="logOut()">Log Out</button>
			</div>
</div> <!--Common content end-->