<div> I AM THE EDIT PAGE!</div>

		<div>
		    <button class="btn btn-primary" type="button" ng-click="logOut()">Log Out</button>
			<button class="btn btn-primary" type="button" ng-click="backToMain()">Back to Main</button>
		</div>

<div>Edit Show</div>
<p>{{ title }}</p>
<p>{{ imgUrl }} </p>

<label>
	<div class="labels">
		Add a show
	</div>
	<div>
		<p>Title</p>
		<input type="text" ng-model="show.title">
	</div>
	<div>
		<p>imgURL</p>
		<input type="text" ng-model="show.imgUrl">
	</div>
</label>



