<div>EDIT PAGE!</div>

		<div>
		    <button class="btn btn-primary" type="button" ng-click="logOut()">Log Out</button>
			<button class="btn btn-primary" type="button" ng-click="backToMain()">Back to Main</button>
		</div>

<div>Edit Show</div>

	<div class="labels">
		Add a slide
	</div>
	
<button class="btn" type="button" ng-click="addSlide()">Add Slide</button>

<div>
	<p>Title</p>
	<input type="text" ng-model="show.title">
</div>

<div>
	<p>imgURL</p>
	<input type="text" ng-model="show.imgUrl">
</div>

