<div>My Library</div>
<div ng-app="LibraryApp" ng-controller="myLibraryCtrl">

	<button ng-click="toOpenLibrary()">To Open Library</button>

	<div>

		<div>	
			<button ng-click="searchMyLibrary_title(doc)">Search Titles in My Library</button>
		</div>

			<label>Search: <input ng-model="searchText"></label>
			<table id="searchTextResults">
			  <div ng-repeat="book in fullLibrary | filter: searchText track by $index">
			    	<p>{{ book.authorString }}</p>
			    	<p>{{ book.titleString }}</p>
			    	<hr>
			  </div>
			</table>
			<hr>

	</div>

</div>

