<div>My Library</div>
<div ng-app="LibraryApp" ng-controller="myLibraryCtrl" data-ng-init="searchMyLibrary()">

	<div>

		<div>	
			<button ng-click="toOpenLibrary()">To Open Library</button>
			<button ng-click="searchMyLibrary()">All Titles in My Library</button>
			<button ng-click="manualAdd()">Manual Addition</button>
		</div>
			<label>Search: <input ng-model="searchText"></label>
			<table id="searchTextResults">
			  <div ng-repeat="book in fullLibrary | filter: searchText track by $index">
			    	<p>{{ book.authorString }}</p>
			    	<p>{{ book.titleString }}</p>
			    	<p>{{ book.isbn }}</p>
			    	<p>{{ book.year }}</p>
			    	<p>{{ book.comments }}</p>
			    	<button ng-click="removeBook(book)">Remove this Book from Library</button>
			    	<button ng-click="goToEdit(book)"> Edit this Book in your Library</button>

			    	<hr>
			  </div>
			</table>
			<hr>

	</div>

</div>

