<html lang="en">
    <head>
    </head>

        
    <body>
    <h2>OPEN LIBRARY TEST</h2>
       <div ng-app="LibraryApp" ng-controller="openLibraryCtrl">
            
            <div>
                <input type="text" ng-model="isbn">
                <button ng-click="searchIsbn()">Search Isbn</button>
            </div>

            <div>
                <input type="text" ng-model="author">
                <button ng-click="searchAuthor()">Search Author</button>
            </div>

            <div>
                <input type="text" ng-model="language">
                <button ng-click="searchLanguage()">Search Language</button>
            </div>

            <div>
                <input type="text" ng-model="title">
                <button ng-click="searchTitle()">Search Title</button>
            </div>

            <div>
                <input type="text" ng-model="publish_year">
                <button ng-click="searchYear()">Search Year</button>
            </div>

            <div>
            	<button ng-click="clearPage()">Clear</button>
            </div>

	        <button ng-click="toMyLibrary()">My Library</button>

            <p>  
                <li ng-repeat="doc in docs">
                    <div class="thisBook">    
                        <p>{{ doc.author_name }}</p>
                        <p>{{ doc.title }}</p>
                        <p>{{ doc.language }}</p>
                        <p>{{ doc.publish_year }}</p>
                        <p>{{ doc.subject }}</p>
                        <p>{{ doc.isbn }}</p>    
                        <button ng-click="addBook(doc)">Add this Book to your Library</button>
                        <button ng-click="removeBook(doc)">Remove this Book from Library</button>
                    </div>    
                </li>
            </p>

        </div>



    </body>


</html>







