/*.additionsButton{

}*/

.inputCardBox{
    border: 2px solid black;
  width: 60%;
  padding: 3px;
  margin: 5px;
}


/*.editNow{
    border: 2px solid black;
    width: 40%;
    margin: 5px;
}*/

.editNowHead{
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;

}

.editNowItem{
    margin: 5px;
    padding-left: 10px;

}




.editForm{
  border: 2px solid black;
  width: 30%;
  padding: 5px;
  margin: 5px;

}

.editButtonBox{
    margin: auto;
}

.editAuthor{
    font-weight: bold;
        margin: auto;
}
.editTitle{
    font-weight: bold;
    margin: auto;
}
.editComments{
    font-weight: bold;
    margin: auto;
}
.editLocation{
    font-weight: bold;
    margin: auto;
}

.searchOpen{

}

.startBox{
    border: 2px solid black;
    margin: auto;
    width: 60%;
/*    background-color: red;*/
}

.startBook{
  border: 2px solid black;
  margin: 3px;
  padding: 8px;
  height: 55%;
  width: 25%;
  overflow: hidden;
}

.startTitle{
  font-weight: bold;
}

.startAuthor{
  font-style: oblique;
}
.startIsbn{
  font-size: 12px;
}
.startYear{}

.startSearchButton{
  margin: 2px;

}

.startAuthorButton{
  margin: 2px;

}

.startIsbnButton{
  margin: 2px;

}

.toLibraryButton{
    margin: 2px;
}

.manualButton{
    margin: 2px;
}

.myLibBox{
  padding:10px;
}

.searchBook{
  font-size: 25px;
  padding: 8px;
}

.editBookBox{
  margin: 2px;
  border: 2px solid black;
  padding: 8px;
  height: 60%;
  width: 25%;
}


.bookBox{
  margin: 2px;
  border: 2px solid black;
  padding: 8px;
  height: 60%;
  width: 25%;
}

.bookImage{
}

.bookTitle {
  font-weight: bold;
}

.bookAuthor {

}

.removeButton{

}

.editForm{
  border: 2px solid black;
}

.editAuthor{

}

.editTitle{

}

.editComments{

}

.editLocation{

}
